.link{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}

.link:hover{
    opacity: 0.6;
}

.image{
    width: 100%;
    height: calc(1060px * .3);
    object-fit: cover;
}

.titleContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: white;
}

.title{
    color: black;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
}