.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.text{
    text-align: center;
    color: var(--homeSearchBarButtonTextColor);
    font-family: 'Big Shoulders Stencil Text', cursive;
}


@media (max-height: 400px){
    .container{
        margin-top: 60px;
        min-height: calc(100vh - 60px);
    }
}

@media (min-width:200px){
    .text{
        font-size: 1.5rem;
    }
}

@media (min-width: 400px){
    .text{
        font-size: 2rem;
    }
}

@media (min-width:768px){
    .text{
        font-size: 2.5rem;
    }
}

@media (min-width:1500px){
    .text{
        font-size: 3rem;
    }
}