body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#2E51A2,#1B7AC2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}